.character-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .slot-link{
        color: black;
        text-decoration: none;
        transition: .5s;
        overflow: hidden;
        border-radius: 25px;
        margin: 0.5rem 0.5rem 1rem;
        text-align: center;
        border: solid 1px rgb(0, 0, 0);
    }
    .slot-link:hover{
        transform: translateY(-5px);
    }
}