.character-section {
  padding: 0 2rem 2rem;
  border-radius: 25px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white; }
  .character-section .back_icon {
    transition: .5s;
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
    border-radius: 25px;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.5); }
  .character-section .back_icon:hover {
    background-color: #dfdfdf; }
  .character-section .back_icon:active {
    background-color: #c4c4c4; }
  .character-section .character-bio {
    display: flex;
    justify-content: space-between; }

@media only screen and (max-width: 1250px) {
  .character-bio {
    flex-direction: column; } }

@media only screen and (max-width: 600px) {
  .character-section {
    width: 80%;
    margin: 1rem; } }
