body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 1rem 2rem; }

.logo-section {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center; }
  .logo-section img {
    width: 300px; }

.character-status .status {
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: black; }

.search-form {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center; }
  .search-form .search-button {
    border-radius: none;
    background-color: #17acca; }
  .search-form .search-button:hover {
    border-radius: none;
    background-color: #13879e; }
